// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;

$gray-darker: #2a2a2a;
$gray-dark: #696969;
$gray: gray;
$gray-light: #cccccc;
$gray-lighter: #ececec;
$gray-lightest: #ececec;

$gray: darken(#eceef1, 30%);
$slate: darken(#eceef1, 70%);
$turquoise: #1abc9c;

$background: #dae1e5;
$main: #dfd3c3;
$third: #c7b198;
$fourth: #596E79;

