<% @shops.each do |shop| %>
  <div class="shop-cards__item">
    <div class="shop-card">
      <div class="shop-card__image shop-card__image--fence" style="background-image: url('<%= cl_image_path shop.shop_photos.first.photo, :width=>360, :height=>240, :crop=>"scale" %>');"></div>
      <div class="shop-card__content">
        <div class="shop-card__title">Catégorie : <%= shop.category %></div>
        <p class="shop-card__text">Boutique : <%= shop.name %></p>
        <%= link_to "Voir cette boutique", city_shop_path(@city, shop), class: "shop-btn shop-btn--block shop-card__btn" %>
      </div>
    </div>
  </div>
<% end %>
