.container-best-shop{
  padding: 0 24px 25px 24px;
  background-color: $background;
  margin-top: 20px;
}

.btn-shops {
  font-size: 18px;
  letter-spacing: 2px;
  padding: 11px;
  border: 1px solid #fff;
  color: $fourth;
  margin-top: 25px;
  border-radius: 10px;
  &:hover {
    background-color: $fourth;
    transition: 0.8s background-color ease;
    color: white;
    // border: 1px solid black;
  }
}

.underline-details {
  border-bottom: 1px solid $fourth;
  padding-bottom: 12px;
  margin-bottom: 24px;
  margin-top: 40px;
}

.card-section-title{
  display: flex;
  align-items: baseline;
  h3, h2 {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.85);
    margin: 0;
  }
  p{
    opacity: 0;
    transition: opacity 0.6s;
    margin-left: 10px;
    font-size: 16px;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.85);
  }
  &:hover{
    p{
      opacity: 1;
      margin-left: 10px;
      font-size: 16px;
      font-weight: bolder;
      color: rgba(0, 0, 0, 0.85);
    }
  }
}

.card-section-explanatory-p{
  p{
    color: #696969;
  }
}

.wrapper-des-cards{
  margin-top: 15px !important;
  position: relative;
}

.fa-angle-left{
  position: absolute;
  z-index: 10;
  top: 35%;
  font-size: 50px;
  left: 10px;
  color: $fourth;
  text-shadow: 0px 1px 1px #bbbbbb;
  opacity: 0.5;
  &:hover{
    opacity:1;
    cursor: pointer;
  }
}

.fa-angle-right{
  position: absolute;
  z-index: 10;
  top: 35%;
  font-size: 50px;
  right: 10px;
  color: $fourth;
  text-shadow: 0px 1px 1px #bbbbbb;
  opacity: 0.5;
  &:hover{
    opacity:1;
    cursor: pointer;
  }
}

.wrapper-des-section-titles{
 margin-top: 25px !important;
 margin-bottom: 15px !important;
 padding: 0px 110px;
}

.container-des-section-titles{
  margin-top: 25px !important;
  margin-bottom: 15px !important;
  padding: 0px 25px;
}

.wrapper-des-shops{
  margin-top: 15px !important;
  padding: 0px 100px;
}


