.best-events h2 {
  text-align: center;
  border-bottom: 2px solid black;
  padding-bottom: 12px;
}

.last-events h2 {
  text-align: center;
  border-bottom: 2px solid black;
  padding-bottom: 12px;
}
