.best-events h2 {
  text-align: center;
  border-bottom: 2px solid black;
  padding-bottom: 12px;
  margin-bottom: 14px;
  margin-top: 40px;
}

.last-events h2 {
  text-align: center;
  border-bottom: 2px solid black;
  padding-bottom: 12px;
  margin-bottom: 14px;
  margin-top: 40px;
}

.best-shops h2 {
  text-align: center;
  border-bottom: 2px solid black;
  padding-bottom: 12px;
  margin-bottom: 14px;
  margin-top: 40px;
}

.incoming-events h2 {
  text-align: center;
  border-bottom: 2px solid black;
  padding-bottom: 12px;
  margin-bottom: 14px;
  margin-top: 40px;
}

.container {
  margin-bottom: 50px;
}
