.document {
  background: white;
}

.messages {
  font-size: 14px;
  color: #868686;
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #ececec;
  border-top: none;
  border-bottom-width: 0;
  overflow: scroll;
  height: 87vh;
}

.message {
  display: flex;
  margin-bottom: 10px;
  &.right {
    flex-direction: row-reverse;
    .message-content {
      background-color: #F2F9FC;
    }
  }
}
.message-content {
  background-color: #F7F7F7;
  border-radius: 3px;
  margin: 0 10px;
  padding: 11px 10px 8px 10px;
}

.avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

#create-message {
  padding: 10px;
  background-color: #ffffff;
  width: 10vw;
  border: 1px solid #ececec;
  height: 50px
}

.message_content {
  margin-bottom: 0;
}

input.form-control {
  border: 1px solid #ECECEC;
  box-shadow: none;
  font-size: 14px;
  color: #868686;
  &:focus {
    outline: none;
    border: 1px solid blue;
    box-shadow: none;
  }
}

.chat-header {
  color: black;
  padding: 10.5px 20px;
  h4 {
    margin: 0;
    text-align: center
  }
  border-bottom: 0.05px solid #C3C6CA
}

#new_message {
  display:flex;
}

#message_content{
  height:50px;
  width: 65vw;
}



.wrapper-message{
  margin-top:0px;
  width: 75vw
}

.message-list {
  width: 25vw;
  border-right: 0.05px solid #C3C6CA;
}

.message-list-all{
  border-top: 0.05px solid #C3C6CA

}

.message-page {
  display: flex;
}



.message-list-header{
  color: black;
  padding: 10px 20px;
  h4 {
    margin: 0;
    text-align: center
  }
  position: relative


}

.shop-small-conv{
  height:60px;
  padding: 10px;
  display: flex;
  text-decoration:none;
  z-index: -2000;
}

.time-sent {
  & p {

    font-size: 10px;
    padding-top: 20px;
  }
}

.client-name {
  text-decoration: none;
  margin-left: 10px;
  & p{
    margin-bottom: 0px;
  }
}

.last-message-preview{
  margin-left: 10px;
  & p {
    font-size: 12px;
    margin-bottom:0px;
  }
}

.contact{
  color:black;


}

.shop-small-conv:hover {
  background-color: #F2F2F2;
}

.back-to-shop {
  font-size: 12px;
  position: absolute;
  bottom: 35px;
  left: 10px;
}

.sticky-footer-message{
  min-height: 100vh;
  background-color: white;
}

// .last-message-time{
//   margin-left: 10px;
//   & p {
//     font-size: 12px;
//     margin-bottom: Opx;
//   }
// }
