.all-page{
  background-color: $background;
  height: 100vh;
}

.messagerie-header {
padding-top:20px;
font-weight: bold
}

.messagerie {
  display: flex;
}

.messagerie-recap {
  width:25%;
}

.messagerie-search {
  display:flex;
  align-items: center;
  padding-bottom: 12.5px;
  padding-top: 10px;
  padding-left: 15px;
  border-bottom: 1px solid rgba(220,224,244,0.4);
  & p {
    margin-bottom: 0px;
    padding-left: 20px;
  }
}

.fa-search {

}

.message-all {
  padding-top: 15px;
  padding-right: 10px;
  & a{
    text-decoration: none;
    color: Black;
  }

}

.person-recap{
  height:60px;
  padding: 10px;
  display: flex;
  margin-bottom: 20px;
  background:white;
  border-radius: 1px;
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
  transition:all 0.3s ease;
  &:hover{
    transform: scale(1.1);
  }
}

.preview {
  padding-left :20px;
  & p{
    margin-bottom:0px
  }
}

.avatar{
  width: 42px;
  height: 42px;
  border-radius: 50%;
}


.talking-to{
  margin-left: 10px;
  & p{
    margin-bottom: 0px;
  }
  border-bottom: 1px solid rgba(220,224,244,0.4);
}

.last-message-preview{
  & p {
    font-size: 12px;
    margin-bottom:0px;
  }
}

.messagerie-chat {
  width:75%;
  margin-left:20px;
}

.message-feed {
  font-size: 14px;
  color: #868686;
  padding: 20px;
  border-bottom-width: 0;
  overflow: scroll;
  margin-top: 15px;
  height: calc(90vh - 70px - 45px - 61px - 30px);
  border-left: 1px solid rgba(220,224,244,0.4);

}

.message {
  display: flex;
  margin-bottom: 10px;
  &.right {
    flex-direction: row-reverse;
    .message-content {
      background-color: #0C0032;
      color : white;
    }
  }
}

.send-message{

}

#new_message {
  display:flex;
}

#message_content{
  height:50px;
  width: 45vw;
  margin-left: 100px;
}

.time-sent {
  & p {
    font-size: 10px;
    padding-top: 20px;
  }
}

.message-content {
  background-color: #F7F7F7;
  border-radius: 3px;
  margin: 0 10px;
  padding: 11px 10px 8px 10px;
}

input.form-control {
  border: 1px solid #ECECEC;
  box-shadow: none;
  font-size: 14px;
  color: #868686;

  &:focus {
    outline: none;
    border: 1px solid blue;
    box-shadow: none;
  }
}

.link-to-back{
  margin-left: 10px;
  margin-top: 10px;
  a{
    color: black;
    &:hover{
      font-weight: bold;
    }
  }
}

.active-conv {
  background-color: $gray ;
}
.messagerie-all {
  margin-bottom: 30px;
  border: 2px solid rgba(220,224,244,0.4);
  padding-left: 10px;
  margin-top: 30px;
}
