
.wrapper {
  margin-top: 100px;
}

.slick-prev:before {
  color: black !important;
}
.slick-next:before {
  color: black !important;
}

.slick-slide {
  margin: 0 10px;
}
.slick-list {
  margin: 0 -10px;
}

.card-no-slick {
  margin: 0 10px;
}
.events-no-slick {
  margin: 0 -10px;
}

.shops {
  margin-bottom: 25px;
  padding: 0px;
}

