
.wrapper {
  margin-top: 100px;
}

.container-search{
  margin-top: 70px;
  margin-left: 10px;
  p {
    color: $main;
    &:hover{
      font-weight: bold;
    }
  }
}

.slick-prev:before {
  color: white !important;
}
.slick-prev{
  left: 10px !important;
  z-index: 10;
}
.slick-next:before {
  color: white !important;
}
.slick-next{
  right: 10px !important;
}

.slick-slide {
  margin: 0 10px;
}
.slick-list {
  margin: 0 -10px;
}

.card-no-slick {
  margin: 0 10px;
}

.events-with-slick{
  width: 100%;
  margin: 0 auto;
}

.shops {
  margin-bottom: 25px;
  padding: 0px;
}

.check-that-bottom-margin{
  margin-bottom: 20px;
}

.left-align-slick > .slick-list > .slick-track {
    margin-left: -208px;
}

.margin-top-on-search-shop {
  margin-top: 100px;
}

.margin-bottom-on-search-shop {
  margin-bottom: 40px;
}


.padding-on-cards-search-shop {
  padding-right: 15px;
  padding-bottom: 15px;
}
