
.wrapper {
  margin-top: 100px;
}

.container-search{
  margin-top: 60px;
}

.slick-prev:before {
  color: white !important;
}
.slick-prev{
  left: 10px !important;
  z-index: 10;
}
.slick-next:before {
  color: white !important;
}
.slick-next{
  right: 10px !important;
}

.slick-slide {
  margin: 0 10px;
}
.slick-list {
  margin: 0 -10px;
}

.card-no-slick {
  margin: 0 10px;
}
.events-no-slick {
  margin: 0 -10px;
}

.events-with-slick{
  width: 100%;
  margin: 0 auto;
}

.shops {
  margin-bottom: 25px;
  padding: 0px;
}

