.shop-show-main{
  text-align: center;
}

.open-status {
  background-color:#4EA155;
  font-size: 10px;
  border-radius: 3px;
  color: white;
  padding: 2px 5px;
  display: inline-block;
  p {
    margin-bottom: 0px;
    text-transform: uppercase;
  }
}

.shop-content {
  display:flex;
  margin-top : 20px;
}

.shop-info-map {
  width: 30vw;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  border: 1px solid rgba(0, 0, 0, .1);
  padding: 10px;

}

.shop-info{
  padding: 5px;

}



.shop-feed {
  background-color:white;
  width: 60vw;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  border: 1px solid rgba(0, 0, 0, .1);
  padding: 10px;
  margin-right: 10px;
}

.event-card-feed {
  border: 1px solid rgba(0, 0, 0, .1);
  margin: 5px;
  padding: 5px;
}

.banner-shop {
  height: 50vh
}

#lightgallery{
  display: flex;

  & > * {
    flex: 25%;
  }

  & > *:nth-child(2) {
    flex: 50%;
  }

  & img {
    width: 100%;

  }

  & > *:nth-child(1):hover {
    background-image : linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%);
  }

  & > *:nth-child(3):hover{
    background-image : linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%);
  }

}

.g-photo {
  position: relative

}


.mask {
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0.4;
}

.mask:hover {
  opacity: 0;
}

