<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel"> <%= event.name %> </h4>
        </div>
        <div class="modal-body">
          <div class="photo-event-gallery modal-slick">
            <% event.event_photos.each do |photo| %>
            <%= cl_image_tag photo.photo, crop: :fill, height: 200, gravity: :center; %>
            <%= cl_image_tag photo.photo, crop: :fill, height: 200, gravity: :center; %>
            <% end %>
          </div>
          <div class="event-modal-description">
            <%= event.description %>
          </div>
        </div>
        <div class="event-modal-footer">
          <button type="button" class="btn btn-modal" data-dismiss="modal">Nous Contacter</button>
          <button type="button" class="btn btn-modal left-btn">Ajouter à mon calendrier</button>
        </div>
      </div>
    </div>
  </div>
