<div class="shop-cards__item">
  <div class="shop-card">
    <div class="shop-card__image shop-card__image--fence" style="background-image: url('<%= cl_image_path shop.shop_photos.first.photo, crop: :fill %>');"></div>
    <div class="shop-card__content">
      <div class="shop-card__title">Catégorie : <%= shop.category %></div>
      <p class="shop-card__text">Boutique : <%= shop.name %></p>
      <button class="shop-btn shop-btn--block shop-card__btn">Voir cette boutique</button>
    </div>
  </div>
</div>
