<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://www.atma.ca/wp-content/uploads/2017/08/Lille-centre-ville-810x358.jpg');">
  <div class="banner-content">
    <h1>Hexagone</h1>
    <p>Redécouvrez vos commerçants et redynamisez votre ville !</p>
    <div class="search-bar">
      <%= form_tag search_cities_path, method: :get do %>
        <%= text_field_tag :query, params[:query], :class => "form-control",placeholder: "ex. 'Fontainebleau'" %>
      <% end %>
    </div>
  </div>
</div>
<div class="container">
  <div class="introduction">
    <div class="mission">
      <div class="title">
        <p><i class="far fa-futbol"></i></p>
        <h3>Notre mission</h3>
      </div>
      <div class="mission-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis quas rem consequatur temporibus cupiditate quo blanditiis deserunt ex, nostrum aspernatur at eveniet labore quia similique, accusamus, mollitia incidunt architecto. Natus?</p>
      </div>
    </div>
    <div class="target">
      <div class="title">
        <p><i class="far fa-futbol"></i></p>
        <h3>Notre cible</h3>
      </div>
      <div class="mission-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, architecto non quo esse obcaecati ab est distinctio fugit, perspiciatis reprehenderit enim numquam, odio ipsam voluptatem suscipit recusandae id tempora! Dolor?</p>
      </div>
    </div>
    <div class="team">
      <div class="title">
        <p><i class="far fa-futbol"></i></p>
        <h3>Notre équipe</h3>
      </div>
      <div class="mission-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, iusto debitis. In laborum, dolor eum cupiditate veniam omnis ducimus, quia magni. Accusamus quidem iste illo quaerat. Laboriosam deleniti perferendis velit?</p>
      </div>
    </div>
  </div>
</div>
