<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://photos.tourisme-en-france.com/pois/54438_1_bordeaux-centre-ville.jpg');">
  <div class="banner-content">
    <h1>Hexagone</h1>
    <p>Redécouvrez vos commerçants et redynamisez votre ville !</p>
    <div class="search-bar">
      <%= form_tag search_cities_path, method: :get do %>
        <%= text_field_tag :query, params[:query], :class => "form-control",placeholder: "ex. 'Fontainebleau'" %>
      <% end %>
    </div>
    <section id="section07" class="demo">
      <a href="#section08"><span></span><span></span><span></span></a>
    </section>
  </div>
</div>
<div class="container">
  <hr>
  <div class="introduction">
    <div class="mission introduction-content-div">
      <div class="title">
        <h3><i class="fas fa-handshake"></i></h3>
        <h3>Notre mission</h3>
      </div>
      <div class="mission-content">
        <p>La mission d'Hexagone gravite autour de deux axes : <br> 1/ Redynamiser le territoire et les centres-villes des petites et moyennes villes de France <br> 2/ Rapprocher les consommateurs de leurs commerçants en mettant en avant les évènements locaux et promos</p>
      </div>
    </div>
    <div class="target introduction-content-div">
      <div class="title">
        <h3><i class="far fa-dot-circle"></i></h3>
        <h3>Nos centres-villes</h3>
      </div>
      <div class="mission-content">
        <p>Hexagone s'intéresse spécifiquement aux petites et moyennes villes de 15-20,000 habitants ayant des commerçants indépendants et dynamiques. <br>Hexagone s'est lancé à Fontainebleau, ville d'origine d'un des 4 fondateurs.</p>
      </div>
    </div>
  </div>
  <hr>
  <div class="pourquoi-utiliser-hexagone">
    <h3 style="text-align:center ; padding-bottom:30px">Pourquoi utiliser Hexagone</h3>
    <div class="information-epuree">
      <h4 class="align-title-to-left"><strong>1/ Structuration pertinente et mise en avant de l'information</strong></h4>
      <div class="les-types-de-cartes">
        <div class="les-offres">
          <h4><i class="fas fa-piggy-bank"></i></h4>
          <h4>Transactionnel : les promos</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod dignissimos, repellat vero velit deleniti officiis quo, inventore fugiat similique eum saepe aliquam in quaerat labore? Nisi esse, et accusamus reprehenderit?</p>
        </div>
        <div class="les-evenements">
          <h4><i class="far fa-calendar-alt"></i></h4>
          <h4>Relationnel : les évènements </h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus in, architecto perferendis quis pariatur quibusdam cum tempore provident veritatis. Reprehenderit, voluptate delectus deleniti. Magni porro ratione minima non iusto reprehenderit!</p>
        </div>
        <div class="les-magasins">
          <h4><i class="fas fa-cart-plus"></i></h4>
          <h4>Réseau : les boutiques</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium numquam rem, temporibus quod tempore laudantium expedita voluptatem natus quidem eos. Eveniet soluta pariatur officia ex cum, tempore, ipsa odit voluptates.</p>
        </div>
      </div>
    </div>
    <div class="fonctionnalites-qui-rapprochent">
      <h4 class="align-title-to-right"><strong>2/ Facilitation de la relation aux commerçants avec des fonctionnalités simples</strong></h4>
      <div class="les-types-de-fonctionnalites">
        <div class="ajouter-aux-favoris">
          <h4><i class="fas fa-heart"></i></h4>
          <h4>Favoris : mes boutiques</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod dignissimos, repellat vero velit deleniti officiis quo, inventore fugiat similique eum saepe aliquam in quaerat labore? Nisi esse, et accusamus reprehenderit?</p>
        </div>
        <div class="ajouter-au-calendrier">
          <h4><i class="fas fa-calendar-check"></i></h4>
          <h4>Calendrier : mes évènements</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus in, architecto perferendis quis pariatur quibusdam cum tempore provident veritatis. Reprehenderit, voluptate delectus deleniti. Magni porro ratione minima non iusto reprehenderit!</p>
        </div>
        <div class="messagerie-de-ouf">
          <h4><i class="fas fa-comments"></i></h4>
          <h4>Messagerie : mes conversations</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium numquam rem, temporibus quod tempore laudantium expedita voluptatem natus quidem eos. Eveniet soluta pariatur officia ex cum, tempore, ipsa odit voluptates.</p>
        </div>
      </div>
    </div>
  </div>
</div>
