.back-to-index-button {
  position: absolute;
  top: 85px;
  left: 24px;
  font-size: 16px;
  color: $third;
  &:hover {
  color: $fourth;
  cursor: pointer;
  text-decoration: none;
  }
}

.back-to-index-button-show-shop {
  position: absolute;
  top: 480px;
  left: 24px;
  font-size: 16px;
  color: $third;
  &:hover {
  color: $fourth;
  cursor: pointer;
  text-decoration: none;
  }
}

.quick-search-btn{
  background-color: #ffba5a;
  border-radius: 10px;
  &:hover {
  color: white;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  }
}

.background-green {
  background-color: #76b39d;
}

