@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800');

*{
  box-sizing: border-box;
  margin: 0;
}

.event-link{
  display: block;
  text-align: center;
  color: #777;
  text-decoration: none;
  padding: 10px;
}

.event-link:hover{
  text-decoration: none;
}

.event-free_card{
  position: relative;
  display: block;
  height: 200px;
  overflow: hidden;
  transition: all 0.4s;
  h4, h3{
    color: white;
    text-shadow: 0px 1px 1px black;
  }
  &:hover{
    transform: scale(1.02);
    box-shadow: 0px 0px 80px -25px rgba(0,0,0, 0.5);
    transition: all 0.4s;
    text-decoration: none;
  }
  .event-blur_back{
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100%; right: 0;
    background-size: cover;
  }
  .event-offer-name{
    position: absolute;
    left: 10px;
  }
  .event-offer-date{
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
  .event-shop-name{
    position: absolute;
    bottom: 10px;
    left: 10px;
  }
  .event-offer-description{
    position: absolute;
    top: 10px;
    left: 10px;
  }
}

@media screen and (min-width: 768px) {
  .event-free_header{
    width: 65%;
  }

  .event-free_desc{
    width: 50%;
  }

  .event-info_section{
    background: linear-gradient(to right, #e5e6e6 50%, transparent 100%);
  }

  .event-blur_back{
    width: 100%;
    background-position: -100% 10% !important;
  }
}

@media screen and (max-width: 768px) {
  .event-free_card{
    width: 95%;
    margin: 70px auto;
    min-height: 350px;
    height: auto;
  }

  .event-blur_back{
    width: 100%;
    background-position: 50% 50% !important;
  }

  .event-free_header{
    width: 100%;
    margin-top: 85px;
  }

  .event-free_desc{
    width: 100%;
  }

  .event-info_section{
    background: linear-gradient(to top, #e5e6e6 50%, transparent 100%);
    display: inline-grid;
  }
}


.event-bright_back{
  background: url("https://occ-0-2433-448.1.nflxso.net/art/cd5c9/3e192edf2027c536e25bb5d3b6ac93ced77cd5c9.jpg");
}

a:hover, a:focus {
  text-decoration:none!important;
  color: black!important
}

// Cards des nouveaux évènements

.evenement-card-flexbox {
  display: flex;
  justify-content: space-around;
}

.evenement-card {
  height: 257px;
  width: 100%;
  color: white;
  position: relative;
  border-radius: 3px;
}

.evenement-card-description {
  position: absolute;
  bottom: 16px;
  width: 100%;
  padding: 10px;
  h3 {
    font-weight: normal;
    font-size: 16px;
    margin: 0;
    text-shadow: 0px 1px 1px black;
    padding-right: 10px;
    width: auto;
  }
}

.evenement-card-category {
  background-color: black;
  width: 130px;
  height: 35px;
  h3 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 24px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.add-to-calendar-link {
  position: absolute;
  top: 14px;
  right: 10px;
  opacity: 0.6;
}

.add-to-calendar-button {
  padding: 0px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  color: white;
  background-color: black;
  font-weight: bold;
  z-index: 500;
  border: 2px solid white;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  .button-to-calendar-description {
    position: absolute;
    right: 36px;
    font-size: 12px;
    font-weight: lighter;
    overflow: hidden;
    width: 0;
    transition: width 0.3s ease;
    background: black;
  }

  &:hover{
    .button-to-calendar-description {
      width: 120px;
    }
  }
}

.add-to-calendar-button:hover {
  color: white;
  opacity: 0.8;
}

.evenement-card-link {
  padding-left: 0px;
  padding-right: 0px;
  .add-to-calendar-link {
    opacity: 0;
    // display: none;
    transition: opacity 0.6s;
  }

  .add-to-calendar-link-on-search-event {
    opacity: 0;
    // display: none;
    transition: opacity 0.6s;
  }
  .event-date-hidden {
    opacity: 0;
    // display: none;
    transition: opacity 0.6s;
  }
  transition: transform 1s;
  &:hover {
    .add-to-calendar-link {
      // display: block;
      opacity: 1;
    }
    .add-to-calendar-link-on-search-event {
      opacity: 1;
    }

    transform: translate(0px, -7px);
    .evenement-card-category{
      padding-top: 5px;
      transition: padding-top 0.6s;
    }
    .evenement-card-description{
      background-color: black;
    }
  }
}

.event-date {
   position: absolute;
   top: 60px;
   left: 28px;
   width: 150px;
   p {
    font-size: 10px;
    color: white;
    text-shadow: 0px 1px 1px black;
   }
}

.evenement-date-description{
  position: absolute;
  top: 40px;
  left: 24px;
  width: 130px;
  text-align: center;
}

.evenement-card-width-100\% {
  width: 100%;
  margin: 10px 0px;
}

.add-to-calendar-link-on-search-event {
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 0.6;
}

.margin-top-bottom-10\% {
  margin: 10px 0px;
}
