.hover-on-card-to-description {
  p {
    display: none;
  }
  &:hover {
    h3 {
      display: none;
    }
    h5 {
      display: none;
    }
    p {
      display: block;
      font-size: 10px;
      width: 75%;
      height: 100%;
      padding: 10px;
    }
  }
}

.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
  h3 {
    font-size: 24px;
  }
  p {
    font-size: 14px;
    opacity: 0.7;
    font-weight: lighter;
  }
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}

.card-event-hidden {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 15px 25px;
  .end-date-hidden {
    position: absolute;
    bottom: 0px;
    left: 25px;
    font-size: 14px;
    color: #4c4c4c;
    border-top: 1px solid #4c4c4c;
    padding-top: 4px;
  }
  &:hover {
    background-color: white;
    transition: 0.5s background-color ease;
    opacity: 0.8;
    color: black;
  }
}

.card-incoming {
  height: 175px;
  background-size: cover !important;
  background-position: center;
  color: rgb(220,220,220);
  position: relative;
  p {
    display: none;
  }
  &:hover {
    h3 {
      display: none;
    }
    h5 {
      display: none;
    }
    p {
      display: block;
    }
  }
}
