.fa-tshirt {
  font-size: 36px;
  color: $main;
  padding: 0px 24px;
}

.fa-trash-alt {
  font-size: 11px;
  text-align: center;
}

.fa-check {
  font-size: 11px;
  text-align: center;
}

.fa-heart {
 font-size: 11px;
 text-align: center;
}
