// .evenement-card {
//   height: 257px;
//   width: 375px;
//   color: white;
//   position: relative;
//   border-radius: 3px;
// }

.search-add-to-calendar-link {
  position: absolute;
  top: 14px;
  right: 25px;
  opacity: 0.6;
}
