.shop-card {
  position: relative
}

.description-hidden-shop {
  color: transparent;
  position: absolute;
  background: transparent;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 15px 25px;
  &:hover {
    color: black;
    background: white;

  }
}
