i.fas.fa-times{
  position: absolute;
  top: 10px;
}

.fa-times:before{
  position: absolute;
  right: 3px;
}

* {
  box-sizing: border-box;
}

.event-shop-show-free_card{
  width: 100%;
}

//Grid Container
.shop-page-events-cards {
  padding: 15px;
  display: flex;
  flex-flow: row wrap;
}

//Cards
.shop-page-events-card {
  width: 90%;
  margin: 0 auto;
  margin-top: 5px;
  transition: all 0.2s ease-in-out;

  //Expander
  &__expander {
    transition: all 0.2s ease-in-out;
    background-color: #fcf8f3;
    position: relative;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: $fourth;

    .fas {
      font-size: 0.75em;
      top: 10px;
      right: 10px;
      cursor: pointer;
      position: relative;
      left: 55%;
      &:hover {
        opacity: 0.9;
      }
    }
  }

  &.is-collapsed {

    .shop-page-events-card__inner {
      &:after {
        content: "";
        opacity: 0;
      }
    }
    .shop-page-events-card__expander {
      max-height: 0;
      min-height: 0;
      overflow: hidden;
      margin-top: 0;
      opacity: 0;
    }
  }

  &.is-expanded {

    .shop-page-events-card__inner {

      &:after{
        content: "";
        opacity: 1;
        display: block;
        height: 0;
        width: 0;
        position: absolute;
        bottom: -30px;
        left: calc(50% - 15px);
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid #333a45;
      }

      //folder open icon
      .fas:before {
        content: "\f115";
      }
    }

    .shop-page-events-card__expander {
      max-height: 1000px;
      min-height: 100px;
      width: 100%;
      overflow: visible;
      margin-top: 30px;
      opacity: 1;
    }

    &:hover {
      .shop-page-events-card__inner {
        transform: scale(1);
      }
    }
  }

  &.is-inactive {
    .shop-page-events-card__inner {
      pointer-events: none;
      opacity: 0.5;
    }

    &:hover {
      .shop-page-events-card__inner {
        background-color: $main;
        transform: scale(1);
      }
    }
  }
}


